:root {
  --cl-background: #fbfbfb;
  --cl-light: #faecf3;
  --cl-text: #383d3b;
  --cl-item: #5c5d8d;
  --cl-item-bg: #f0f0f4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
}

html {
  color: var(--cl-text);
  background-color: var(--cl-background);
}

.conteudo {
  width: 80%;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.form__input {
  width: 300px;
  padding: 0.2em 0.4em;
  margin: 0.1em;
}

.form__submit {
  margin: 0.1em;
}

.repositorios {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
}

.repositorios li {
  color: var(--cl-item);
  background-color: var(--cl-item-bg);
  padding: 0.5em;
  margin-bottom: 0.2em;
}
